*~
/.emacs.d/history
/.emacs.d/straight/
/.emacs.d/recentf
/.emacs.d/places
/.emacs.d/transient/
/.emacs.d/literate_init.el
/.emacs.d/eln-cache/
/.emacs.d/org-roam.db
/.emacs.d/bookmarks
/.emacs.d/eshell/
/.emacs.d/.org-id-locations
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/var/
/.emacs.d/custom-vars.el
.emacs.d/custom-vars.el
/.emacs.d/org-persist/
result/